.App {
  text-align: center;
}
.bg-clr{
  background-color: #d1d3e2;
  width: 40%;
  height: 55%;
  }
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  .back {
    /* fallback for old browsers */
    background: #cfe1d6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(85, 29, 141), #9aafdb);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(176, 229, 229), rgb(199, 237, 174))
  }
  .text-areas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 12px;
  }
  
  .sid-container {
    display: flex;
  }
  
  .container {
    display: flex;
  
  }
  
  main {
    width: 100%;
  
  }
  
  .top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
  }
  .link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover {
    background: lightskyblue;
    color: #000;
    transition: all 0.5s;
  }
  
  .active {
    background: lightskyblue;
    color: #000;
  }
  
  .text-deactron {
    text-decoration: none;
  }
  
  .redius {
    border-radius: 50%;
  }
  .nav-clr {
    background:#5cbd66;
    color: #ccc;
  }

  .date-month{
    color: rgb(0, 0, 0);
    background-color: rgb(77, 226, 100);
    border-radius: 20px;
  }
  
  